@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sora:wght@100..800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
:root {
  /* CONTENT */
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: F#030203;
  /* BACKGROUND */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  /* ACCENT */
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0aa;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;
  /* GRADIENT */
  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%,
    #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;
  /* FONT */
  --display-large: bolder 72px/130% "Sora";
  --display-medium: bolder 40px/130% "Sora";
  --display-small: bold 32px/130% "Sora";
  --over-line: bold 20px/150% "Roboto Mono";
  --paragraph-large: normal 16px/150% "Roboto Flex";
  --paragraph-medium: normal 14px/150% "Roboto Flex";
  --label-medium: bold 20px/150% "Roboto Flex";
  --label-small: bold 16px/150% "Roboto Flex";
}
body,
html {
  background: var(--background-primary) url("../assets/Shapes.png") repeat
    center;
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container h2 {
  font: var(--display-small);
  color: var(--content-primary);
  text-transform: uppercase;
  margin: 0;
}
.container h1 {
  font: var(--display-large);
  color: var(--content-primary);
  text-transform: uppercase;
  width: 327px;
  margin: 0;
}
.row .col-md-6 .text-secondary {
  font: var(--over-line);
  background: linear-gradient(90deg, var(--gradient-content));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-sm {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container-sm .col h3 {
  font: var(--paragraph-medium);
  color: var(--content-brand);
  text-transform: uppercase;
  margin: 0;
}
.container-sm .col p {
  font: var(--paragraph-medium);
  color: var(--content-secondary);
  margin: 0;
}
.container-sm .img-fluid {
  position: absolute;
  left: 0;
  top: 0;
}
form h4,
#result h4 {
  font: var(--label-medium);
  color: var(--content-primary);
  text-transform: uppercase;
}
form p,
#result p {
  font: var(--paragraph-large);
  color: var(--content-secondary);
  margin: 0;
}
form .col-3 {
  justify-content: center;
  width: max-content;
  text-align: center;
}
form label {
  font: var(--label-small);
  color: var(--content-secondary);
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
form .form-control {
  background-color: var(--background-secondary) !important;
  color: var(--content-primary) !important;
  border: 0;
  width: 86px;
  height: 56px;
  font: var(--display-small);
}
form .form-control:hover {
  color: var(--content-primary);
  background-color: var(--background-secondary);
}
form .form-control:focus {
  border: 0;
  box-shadow: none;
}
form label,
form .form-control {
  align-self: self-start;
}
form .switch {
  width: 30px;
  cursor: pointer;
}
form .switch button {
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
  background: var(--content-primary);
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -50%);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  outline: 1px solid red;
}
.toggleMode button {
  left: 0 !important;
}
.toggleMode span {
  background: var(--content-tertiary) !important;
}
form .switch span {
  display: block;
  width: 30px;
  height: 20px;
  background-image: linear-gradient(var(--gradient-background));
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
}
form .btn-primary {
  height: 56px;
  background-color: var(--background-tertiary);
  border: 0;
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;
  padding: 0;
  overflow: hidden;
}
form .btn-primary p {
  font: var(--label-medium);
  color: var(--content-primary);
  text-transform: uppercase;
  margin: 0;
}
form .btn-primary:hover {
  background-color: var(--background-secondary);
}
form .container-md {
  position: relative;
  padding: 0;
}
form .container-md::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(90deg, var(--gradient-border));
  border-radius: 0.45rem;
  transition: all 0.4s ease;
  opacity: 0;
  z-index: -1px;
}
form .container-md:hover::before {
  opacity: 1;
  transform: scale(1.01, 1.1);
}
form .btn-primary:active {
  background-color: var(--background-secondary) !important;
}
#result .btn-primary {
  height: 56px;
  background-color: var(--background-tertiary);
  border: 0;
  transition: all 0.2s ease;
  position: relative;
  z-index: 1;
  padding: 0;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}
#result .btn-primary p {
  font: var(--label-medium);
  color: var(--content-primary);
  text-transform: uppercase;
  margin: 0;
}
#result .btn-primary:hover {
  background-color: var(--background-secondary);
}
#result .container-md {
  position: relative;
  padding: 0;
}
#result .container-md::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(90deg, var(--gradient-border));
  border-radius: 0.45rem;
  transition: all 0.4s ease;
  opacity: 0;
  left: 0;
  z-index: -1px;
}
#result .container-md:hover::before {
  opacity: 1;
  transform: scale(1.01, 1.1);
}
#result .btn-primary:active {
  background-color: var(--background-secondary) !important;
}
#result {
  transition: all 0.2s ease-in-out;
}
#button {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  background: #fff;
}

#button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

#button:hover > svg {
  font-size: 1.2em;
  transform: translateX(-5px);
}

#button:hover {
  transform: translateY(-2px);
}
@media (max-width: 1200px) {
  .container h1 {
    font: var(--display-medium);
  }
}
@media (max-width: 768px) {
  .container h1 {
    font-size: 62px !important;
  }
  #container-logo {
    justify-content: center;
  }
  .container .d-flex {
    gap: 1rem;
  }
}
@media (max-width: 546px) {
  .container h1 {
    font-size: 40px !important;
  }
}
.result-number {
  width: 7rem;
  height: 7rem;
  border-radius: 20px;
  background: transparent;
  font: var(--display-large);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--content-brand);
  animation-name: rotateSquare;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

@keyframes rotateSquare {
  0% {
    transform: scale(0.5) rotate(0);
    opacity: 0;
    color: black;
    background: #c58de7;
  }
  50%,
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
    font-size: 4em;
  }
}
