@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sora:wght@100..800&display=swap");
:root {
  /* CONTENT */
  --content-primary: #ffffff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: F#030203;
  /* BACKGROUND */
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222e;
  --background-brand: #c58de7;
  --background-gray: #3d3d3d;
  /* ACCENT */
  --accent-pink: #d586e0;
  --accent-blue: #91a1fa;
  --accent-green: #77c0aa;
  --accent-lime: #d1dc97;
  --accent-red: #e9a9b3;
  /* GRADIENT */
  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%,
    #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;
  /* FONT */
  --display-large: bolder 72px/130% "Sora";
  --display-medium: bolder 40px/130% "Sora";
  --display-small: bold 32px/130% "Sora";
  --over-line: bold 20px/150% "Roboto Mono";
  --paragraph-large: normal 16px/150% "Roboto Flex";
  --paragraph-medium: normal 14px/150% "Roboto Flex";
  --label-medium: bold 20px/150% "Roboto Flex";
  --label-small: bold 16px/150% "Roboto Flex";
}

body,
html {
  background: var(--background-primary) url("../assets/Shapes.png") repeat
    center;
  min-height: 96vh;
}
.container h2 {
  font: var(--display-small);
  color: var(--content-primary);
  text-transform: uppercase;
  margin: 0;
}
.container h1 {
  font: var(--display-large);
  color: var(--content-primary);
  text-transform: uppercase;
  margin: 0;
}
.row .col-md-6 .text-secondary {
  font: var(--over-line);
  background: linear-gradient(90deg, var(--gradient-content));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-sm {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container-sm .col h3 {
  font: var(--paragraph-medium);
  color: var(--content-brand);
  text-transform: uppercase;
  margin: 0;
}
.container-sm .col p {
  font: var(--paragraph-medium);
  color: var(--content-secondary);
  margin: 0;
}
.container-sm .img-fluid {
  position: absolute;
  left: 0;
  top: 0;
}
form h4 {
  font: var(--label-medium);
  color: var(--content-primary);
  text-transform: uppercase;
}
form p {
  font: var(--paragraph-large);
  color: var(--content-secondary);
  margin: 0;
}
form .col-3 {
  justify-content: center;
  width: max-content;
  text-align: center;
}
form label {
  font: var(--label-small);
  color: var(--content-secondary);
  text-transform: uppercase;
  margin-bottom: 0.2rem;
}
form .form-control {
  background-color: var(--background-secondary);
  border: 0;
  width: 86px;
  height: 56px;
}
form label,
form .form-control{
  align-self: self-start;
}
form .switch {
  width: 30px;
}
form .switch button {
  width: 14px;
  height: 14px;
  background: var(--content-primary);
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
}
form .switch span {
  display: block;
  width: 30px;
  height: 20px;
  /* background: var(--gradient-background); */
  background-image: linear-gradient( #d586e0 0%, #91a1fa 98.93%);
  border-radius: 16px;
}
